/* --  Breakpoints -- */

$bp_desktop: 992px;
$bp_tablet: 768px;
$bp_mobile: 576px;

/* -- Fonts -- */

$default_font_size: 16px;
$default_font: 'Gentium Book Basic', serif;
$button_font: 'Lato', sans-serif;
$header_font: 'Yeseva One', cursive;

/* -- Colors -- */

$yellow: #CC9900;
$grey: #DDE0DF;
$light_grey: #F2F4F4;
$dark_grey: #191919;